@model SMProject.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("create", "Students", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <br />

    @Html.LabelFor(model => model.FullName)

    @Html.EditorFor(model => model.FullName, new { @class = "form-control" })

    <br />

    @Html.LabelFor(model => model.Level)
    @Html.TextAreaFor(model => model.Level)

    <br />

    @Html.Label("Male")
    @Html.RadioButtonFor(m => m.Gender, "1")
    @Html.Label("Female")
    @Html.RadioButtonFor(m => m.Gender, "0")

    @section TodayDate
    {

        <P class="lead">
            @DateTime.Now.ToString()


        </P>

    }



}
