@model IEnumerable<SMProject.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@Styles.Render("~/Content/mycss")

<h2>Index</h2>
<p>
    @Html.ActionLink("create new", "Create")
</p>

<table class="table table-hover">
    <th>
        @Html.DisplayNameFor(model => model.Id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FullName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Level)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Mobile)
    </th>



    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>

        </tr>
    }
    @section TodayDate
    {

        <P class="lead">
            @DateTime.Now.ToString()


        </P>

    }
</table>




